.container {
  border: 1px solid #808080;
  -webkit-box-shadow: 2px 2px 2px 0px #808080;
  -moz-box-shadow: 2px 2px 2px 0px #808080;
  box-shadow: 2px 2px 2px 0px #808080;
}

.graph {
	min-width: 310px; 
	max-width: 800px; 
	height: 400px; 
	margin: 0 auto;
}
