.graph {
	min-width: 315px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto;
  margin-bottom: 15px;

  -webkit-box-shadow: 3px 3px 2px 0px #808080;
  -moz-box-shadow: 3px 3px 2px 0px #808080;
  box-shadow: 3px 3px 2px 0px #808080;
}

body {
  padding-top: 70px;
  background-color: rgb(228, 224, 238);
}
